In [1]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.randn(9))
print(s)
print(s[[0,2,4]])
print(s[:4])
print(s.median())
print(s[s>s.median()])

0    0.829124
1    0.386917
2    0.094478
3    0.109398
4    0.461348
5    2.480522
6    0.812646
7   -0.589871
8    1.100242
dtype: float64
0    0.829124
2    0.094478
4    0.461348
dtype: float64
0    0.829124
1    0.386917
2    0.094478
3    0.109398
dtype: float64
0.4613477189919472
0    0.829124
5    2.480522
6    0.812646
8    1.100242
dtype: float64

In [2]:
s = pd.Series({'a':21,'b':31,'d':42,'e':12,'f':52,'c':45,})
#s['e'] = 432
#s.get('a')
#print('e' in s)
#print(12 in s)
#print(s['a'])
print(s.index)
for i in s.index:
    print(i, " ", end='')
s['b':'e']

Index(['a', 'b', 'd', 'e', 'f', 'c'], dtype='object')
a  b  d  e  f  c

b    31
d    42
e    12
dtype: int64

In [3]:
s = pd.Series({'mon':21,'tue':31,'wed':42,'thu':12,'fri':52,'sat':45,'sun':14})
s1 = s[1:] + s[:-1]
s1['sun'] = np.nan
s1.min(skipna=False)

nan

In [4]:
s = pd.Series({'mon':21,'tue':31,'wed':42,'thu':12,'fri':52,'sat':45,'sun':14})
s.describe()

count     7.000000
mean     31.000000
std      15.853496
min      12.000000
25%      17.500000
50%      31.000000
75%      43.500000
max      52.000000
dtype: float64

In [5]:
s = pd.Series([1,2,3,4])
s.prod()

24

In [6]:
d = {'one':pd.Series([1., 2., 3.], index=['a','b','c']),
     'two':pd.Series([1., 2., 3., 4.], index=['a','b','c','d'])}
data = [(1,2.,'Hello'), (2,3.,"World")]
df = pd.DataFrame(d)
#df = pd.DataFrame.from_dict(d, index=['a','b'], columns=['DD','BB','LABEL'], orient='index')
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [7]:
d = pd.DataFrame.from_dict(dict([('A', [1, 2, 3,4]), ('B', [4, 5, 6,7]),('C', [4, 5, 6,8])]))
d.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
pd.DataFrame(np.ones((3,4)),index=['a','b','c'])

     0    1    2    3
a  1.0  1.0  1.0  1.0
b  1.0  1.0  1.0  1.0
c  1.0  1.0  1.0  1.0

In [73]:
df = pd.read_csv("iris.txt")
#df[['sepal_length','sepal_width']]
#bl = df.sepal_length > 5
df[(df.sepal_width > 5) | (df.sepal_length > 5)]

     sepal_length  sepal_width  petal_length  petal_width            class
0             5.1          3.5           1.4          0.2      Iris-setosa
5             5.4          3.9           1.7          0.4      Iris-setosa
10            5.4          3.7           1.5          0.2      Iris-setosa
14            5.8          4.0           1.2          0.2      Iris-setosa
15            5.7          4.4           1.5          0.4      Iris-setosa
16            5.4          3.9           1.3          0.4      Iris-setosa
17            5.1          3.5           1.4          0.3      Iris-setosa
18            5.7          3.8           1.7          0.3      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
20            5.4          3.4           1.7          0.2      Iris-setosa
21            5.1          3.7           1.5          0.4      Iris-setosa
23            5.1          3.3           1.7          0.5      Iris-setosa
27            5.2          3.5           1.5          0.2      Iris-setosa
28            5.2          3.4           1.4          0.2      Iris-setosa
31            5.4          3.4           1.5          0.4      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
33            5.5          4.2           1.4          0.2      Iris-setosa
36            5.5          3.5           1.3          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
44            5.1          3.8           1.9          0.4      Iris-setosa
46            5.1          3.8           1.6          0.2      Iris-setosa
48            5.3          3.7           1.5          0.2      Iris-setosa
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
55            5.7          2.8           4.5          1.3  Iris-versicolor
56            6.3          3.3           4.7          1.6  Iris-versicolor
58            6.6          2.9           4.6          1.3  Iris-versicolor
..            ...          ...           ...          ...              ...
120           6.9          3.2           5.7          2.3   Iris-virginica
121           5.6          2.8           4.9          2.0   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
123           6.3          2.7           4.9          1.8   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
126           6.2          2.8           4.8          1.8   Iris-virginica
127           6.1          3.0           4.9          1.8   Iris-virginica
128           6.4          2.8           5.6          2.1   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
133           6.3          2.8           5.1          1.5   Iris-virginica
134           6.1          2.6           5.6          1.4   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
137           6.4          3.1           5.5          1.8   Iris-virginica
138           6.0          3.0           4.8          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[118 rows x 5 columns]

In [10]:
#df[(df['class'] == 'Iris-virginica') | (df['class'] == 'Iris-setosa')]
#df['added'] = df['sepal_length'] - df['petal_length']
#del(df['class'])
#df.pop('class')
#r,c = df.shape
#a = np.array(np.arange(r))
#df.insert(1,'newc', df['sepal_length'][:10])
#dfc = df.head()
#dfc = df.head().assign(ratio = lambda x: x['sepal_length'] / x['sepal_width'])
#np.exp(dfc[['sepal_length','sepal_width']])
#df.cov()
sl = df.sepal_length
sc = df['class']
sl.groupby(sc).describe()

                 count   mean       std  min    25%  50%  75%  max
class
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [12]:
def string_to_ints(string):
    return map(int, numbers.strip().split())
def split_odd_even(number_list):
    return {
    'odds': list(filter(lambda n: (n % 2) != 0, number_list)),
    'evens': list(filter(lambda n: (n % 2) == 0, number_list))
    }
if __name__ == "__main__":
    numbers = '1 2 3 4 5 6 7 8 9 10'
    nums = split_odd_even(list(string_to_ints(numbers)))
    for x in nums:
        print(x, "=" , nums[x])

odds = [1, 3, 5, 7, 9]
evens = [2, 4, 6, 8, 10]

In [7]:
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
greater_than_zero = list(filter(lambda x: x > 0, number_list))
print(less_than_zero)
print(greater_than_zero)

[-5, -4, -3, -2, -1]
[1, 2, 3, 4]

In [9]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
ser.map(lambda x: sum([x.lower().count(i) for i in 'aeuoi']) >=3)

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [10]:
data = {'month':pd.date_range('2000-01-31', periods=50, freq='M'),
        'sale':pd.Series(np.random.randint(10,30,50))}

df = pd.DataFrame(data)
#df.sale.groupby(df.month)
#df['year'] = [str(d.year) for d in df.month]
#df.sale.groupby(df.year).sum()
#df
#index = ser.index
#[str(d.year) +'-'+str(d.month) for d in ser.index]